<html lang='en'>

  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>HAPO CRM</title>
  </head>

  <body>
    <div
      style='width: 150vh; background-color: #edf2f7; min-height: 200px; display: flex; align-items: center; justify-content: center;'
    >
      <div style='width: 50%; margin: 0 auto;'>
        <div
          style='font-size: 17px; font-weight: bold; padding: 25px; text-align: center;'
        >Hapo CRM</div>
        <div style='background-color: white; padding: 15px;'>
          <p>Dear <span style='font-weight: bold;'>{{userName}}</span></p>
          <p>Bạn đã tiến hành lấy lại mật khẩu vào lúc
            <span style='font-weight: bold;'>{{time}}</span>
          </p>
          <div style='margin-top: 10px;'></div>
          <div>Hapo CRM gửi bạn thông tin tài khoản mới: </div>
          <p>Email: <a href='mailto:{{userEmail}}'>{{userEmail}}</a></p>
          <p>Ấn vào đây để thiết lập mật khẩu mới : 
            <a href={{url}} style='font-weight: bold; color: red;'>Link</a></p>
          <p>Chú ý: Vui lòng thay đổi password sau khi login vào hệ thống</p>
          <div style='margin-top: 10px;'></div>
          <span style='font-weight: bold;'>Trân Trọng !</span>
        </div>
        <div
          style='font-size: 12px; font-weight: 300; color: #b0adc5; padding: 20px; margin-top: 10px; text-align: center;'
        >© 2023 Hapo CRM. All rights reserved
        </div>
      </div>
    </div>
  </body>

</html>